{% for obj in recent_cable %}

<tr>
    <td><code>{{ obj.full_witc }}</code></td>
    <td><code>类型：{{ obj.category_type.content }}<br>
        截止频率: {{obj.upper_frequency }}， 外径：{{ obj.outer_diameter}}<br>
        阻抗：{{ obj.resistance }}
    </code></td>

    <td><code>{{obj.property }}</code></td>
    <td><code><a href="{{ obj.image.url }}">图片链接</a></code></td>
    <td><code><a href="{{ obj.document.url }}"> 规格书链接</a></code></td>
    <td><a href="javascript:void(0)" onclick="goto_modify(this)">修改</a>
        <a href="javascript:void(0)" onclick="goto_delete(this)">删除</a>
    </td>
</tr>
{% endfor%}