{% extends "admin_pages/product_base.html" %}
{% load static %}
{% block page-title %}
<title>产品查询-VNA测试电缆组件</title>
<meta name="keywords" content="电缆组件">
<meta name="description" content="电缆组件">
{% endblock %}

{% block product-private %}
<div style="width: 100%" class="container ui-sortable">
            <div class="panel panel-default">
                <div class="panel-header">VNA测试电缆组件</div>
                <div class="panel-body">
                    <table id="vnc-select" class="table table-border table-bordered table-bg">
                        <thead>
                        <tr>
                            <th>连接器1系列</th>
                            <th>连接器1极性</th>
                            <th>连接器2系列</th>
                            <th>连接器2极性</th>
                            <th>电缆长度</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><span class="select-box size-MINI">
                                <select nullmsg="连接器1" datatype="*" name="" size="1" class="select"
                                        onchange="ljqTypeChange(this)">
                                    <option selected="" value="">连接器1系列</option>
                                    <option value="2">xxx</option>
                                    <option value="3">xxxx</option>
                                    </select>
                            </span></td>
                             <td><span class="select-box size-MINI">
                                <select nullmsg="极性" datatype="*" name="" size="1" class="select"
                                        onchange="ljqTypeChange(this)">
                                    <option selected="" value="">极性</option>
                                    <option value="2">公</option>
                                    <option value="3">母</option>
                                    </select>
                            </span></td>
                            <td><span class="select-box size-MINI">
                                <select nullmsg="连接器2" datatype="*" name="" size="1" class="select"
                                        onchange="ljqTypeChange(this)">
                                    <option selected="" value="">连接器2系列</option>
                                    <option value="2">xxx</option>
                                    <option value="3">xxxx</option>
                                    </select>
                            </span></td>
                             <td><span class="select-box size-MINI">
                                <select nullmsg="极性" datatype="*" name="" size="1" class="select"
                                        onchange="ljqTypeChange(this)">
                                    <option selected="" value="">极性2</option>
                                    <option value="2">公</option>
                                    <option value="3">母</option>
                                    </select>
                            </span></td>
                            <td><span class="select-box size-MINI">
                                <select nullmsg="电缆长度" datatype="*" name="" size="1" class="select"
                                        onchange="ljqTypeChange(this)">
                                    <option selected="" value="">电缆长度</option>
                                    <option value="2">0.65</option>
                                    <option value="3">0.85</option>
                                    </select>
                            </span></td>
                        </tr>
                        </tbody>
                    </table>
                    <input id="start-query" class="btn btn-primary radius mt-10" type="button" value="查询" >
                </div>
            </div>
            <div class="panel panel-default">
                <div id='result' class="panel-header">查询结果</div>
                <table class="table table-border table-bordered table-striped">
                        <thead>
                        <tr>
                            <th width="5%">序号</th>
                            <th width="10%">连接器1</th>
                            <th width="10%">极性1</th>
                            <th width="10%">连接器2</th>
                            <th width="10%">极性2</th>
                            <th width="10%">电缆长度</th>
                            <th width="10%">描述</th>
                            <th width="10%">PDF文档</th>
                            <th width="10%">WITC缂栫爜</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><code>1</code></td>
                            <td><code>连接器1</code></td>
                            <td><code>display</code></td>
                            <td><code>display</code></td>
                            <td><code>display</code></td>
                            <td><code>display</code></td>
                            <td><code>display</code></td>
                            <td><code>来自数据库</code></td>
                            <td><code>display</code></td>
                        </tr>
                        <tr>
                            <td><code>2</code></td>
                            <td><code>display</code></td>
                            <td><code>display</code></td>
                            <td><code>display</code></td>
                            <td><code>display</code></td>
                            <td><code>display</code></td>
                            <td><code>display</code></td>
                            <td><code>来自数据库</code></td>
                            <td><code>display</code></td>
                        </tr>
                        </tbody>
                    </table>
            </div>
        </div>
{% endblock %}

{% block private-script %}
<script>
function ljqTypeChange(obj){
        var currObj = obj;
        if (currObj.options[currObj.selectedIndex].value == 1){
            document.getElementById("ljqDiffTypeConvert").style.display="none";
            document.getElementById("ljqSameTypeConvert").style.display="table";
        }else{
            document.getElementById("ljqSameTypeConvert").style.display="none";
            document.getElementById("ljqDiffTypeConvert").style.display="table";
        }
    }
$(document).ready(function(){
	$('#nav-product').addClass("current")
	$('#start-query').click(function(){
	    alert('query');
	    $.get("{% url 'notify' %}", function(data){
	        alert("get " + data.result);
	    });
	    });
});


</script>
{% endblock %}
