{% extends "admin_pages/product_base.html" %}
{% load static %}
{% block page-title %}
<title>连接器</title>
<meta name="keywords" content="连接器">
<meta name="description" content="连接器录入">
{% endblock %}

{% block product-private %}

<div style="width: 100%" class="container ui-sortable">
            <div id="tab_demo" class="HuiTab">
              <div class="tabBar clearfix"><span>添加产品</span><span>查看管理</span></div>
              <div class="tabCon">
                  <div class="panel panel-default">
                <div class="panel-header">连接器</div>
                <br>
                      <div class="radio-box">
                    <input type="radio" id="radio_cable" name="demo-radio1" onclick="ljqTypeChange(this)" checked>
                    <label for="radio-2">适配电缆</label>
                  </div>
                      <div class="radio-box">
                    <input type="radio" id="radio_pcb" name="demo-radio1" onclick="ljqTypeChange(this)">
                    <label for="radio-disabled">适配PCB</label>
                  </div>
                <div class="panel-body">
                    <table  id="cable" class="table table-border table-bordered">
                         <tr>
                             <td>类型</td>
                             <td><span class="select-box size-M">
                                 <select  nullmsg="类型" datatype="*" name="" size="1" class="select" >
                                    <option selected="" value="1">SMA</option>
                                    <option value="2">N</option>
                                 </select>
                            </span></td>

                             <td>极性</td>
                             <td><span class="select-box size-M">
                                 <select  nullmsg="类型" datatype="*" name="" size="1" class="select" >
                                    <option selected="" value="1">公</option>
                                    <option value="2">母</option>
                                 </select>
                            </span></td>

                             <td>安装类型</td>
                             <td><span class="select-box size-M">
                                 <select  nullmsg="类型" datatype="*" name="" size="1" class="select" >
                                    <option selected="" value="1">无</option>
                                    <option value="2">四孔法兰</option>
                                 </select>
                            </span></td>

                        <tr>
                        <td>差损系数</td>
                        <td>
                            <input type="text" class="input-text" placeholder="" name="" id="lossratio" autocomplete="off">
                        </td>
                        <td>电缆内导体直径（mm）</td>
                        <td>
                            <input type="text" class="input-text" placeholder="" name="" id="lossratio" autocomplete="off">
                        </td>
                        <td>电缆内导体直径(mm)</td>
                        <td>
                            <input type="text" class="input-text" placeholder="" name="" id="lossratio" autocomplete="off">
                        </td>

                    </tr>
                        <tr>
                              <td>适配电缆型号</td>
                        <td>
                            <input type="text" class="input-text" placeholder="" name="" id="lossratio" autocomplete="off">
                        </td>
                             <td>截止频率（GHz）</td>
                        <td>
                            <input type="text" class="input-text" placeholder="" name="" id="lossratio" autocomplete="off">
                        </td>

                             <td>外形</td>
                            <td><span class="select-box size-M">
                                 <select  nullmsg="类型" datatype="*" name="" size="1" class="select" >
                                    <option selected="" value="1">直</option>
                                    <option value="2">弯</option>
                                 </select>
                            </span></td>

                        </tr>
                        <tr>
                            <td>特性</td>
                            <td><span class="select-box size-M">
                                 <select  nullmsg="类型" datatype="*" name="" size="1" class="select" >
                                    <option selected="" value="1">无</option>
                                    <option value="2">气密</option>
                                 </select>
                            </span></td>
                            <td>装配形式</td>
                            <td><span class="select-box size-M">
                                 <select  nullmsg="类型" datatype="*" name="" size="1" class="select" >
                                    <option selected="" value="1">焊接</option>
                                    <option value="2"></option>
                                 </select>
                            </span></td>
                        </tr>
                        <tr>
                              <td>WITC编号</td>
                            <td>
                                <input type="text" class="input-text" placeholder="" name="" id="lossratio" autocomplete="off">
                            </td>
                                 <td>组件中WITC编号（GHz）</td>
                            <td>
                                <input type="text" class="input-text" placeholder="" name="" id="lossratio" autocomplete="off">
                            </td>
                        </tr>

                    </table>
                    <table  id="pcb" class="table table-border table-bordered" style="display: none">
                         <tr>
                             <td>类型</td>
                             <td><span class="select-box size-M">
                                 <select  nullmsg="类型" datatype="*" name="" size="1" class="select" >
                                    <option selected="" value="1">SMA</option>
                                    <option value="2">N</option>
                                 </select>
                            </span></td>

                             <td>极性</td>
                             <td><span class="select-box size-M">
                                 <select  nullmsg="类型" datatype="*" name="" size="1" class="select" >
                                    <option selected="" value="1">公</option>
                                    <option value="2">母</option>
                                 </select>
                            </span></td>

                             <td>安装类型</td>
                             <td><span class="select-box size-M">
                                 <select  nullmsg="类型" datatype="*" name="" size="1" class="select" >
                                    <option selected="" value="1">无</option>
                                    <option value="2">四孔法兰</option>
                                 </select>
                            </span></td>

                        <tr>
                        <td>驻波</td>
                        <td>
                            <input type="text" class="input-text" placeholder="" name="" id="lossratio" autocomplete="off">
                        </td>
                        <td>截止频率(GHz）</td>
                        <td>
                            <input type="text" class="input-text" placeholder="" name="" id="lossratio" autocomplete="off">
                        </td>
                        <td>外形</td>
                            <td><span class="select-box size-M">
                                 <select  nullmsg="类型" datatype="*" name="" size="1" class="select" >
                                    <option selected="" value="1">直</option>
                                    <option value="2">弯</option>
                                 </select>
                            </span></td>
                        <td>特性</td>
                            <td><span class="select-box size-M">
                                 <select  nullmsg="类型" datatype="*" name="" size="1" class="select" >
                                    <option selected="" value="1">无</option>
                                    <option value="2">气密</option>
                                 </select>
                            </span></td>
                    </tr>
                        <tr>
                              <td>WITC编号</td>
                            <td>
                                <input type="text" class="input-text" placeholder="" name="" id="lossratio" autocomplete="off">
                            </td>
                                 <td>组件中WITC编号（GHz）</td>
                            <td>
                                <input type="text" class="input-text" placeholder="" name="" id="lossratio" autocomplete="off">
                            </td>
                        </tr>

                    </table>
                    <div>
                        <h5>规格书上传</h5>
                        <form name="uploadForm" method="POST"
                                enctype="multipart/form-data"
                                action="/ProcessServer/FileOperate/fileUpServlet">
                                <input  class="input-text upload-url" type="file" name="file1" size="30"/>
                                <input class="btn btn-primary upload-btn" type="submit" name="submit" value="提交">
                                <input class= "btn btn-primary upload-btn" type="reset" name="reset" value="重置">
                        </form>
                         <h5>产品图片上传</h5>
                        <form name="uploadForm" method="POST"
                                enctype="multipart/form-data"
                                action="/ProcessServer/FileOperate/fileUpServlet">
                                <input  class="input-text upload-url" type="file" name="file1" size="30"/>
                                <input class="btn btn-primary upload-btn" type="submit" name="submit" value="提交">
                                <input class= "btn btn-primary upload-btn" type="reset" name="reset" value="重置">
                             </form>
                    </div>

                    <input id="start-query" class="btn btn-primary radius mt-10" type="button" value="添加产品" >
                </div>
            </div>
    <br>
            <div class="panel panel-default">
                <div id='result' class="panel-header">添加结果</div>
                <table class="table table-border table-bordered table-striped">
                        <thead>
                        <tr>
                            <th width="5%">序号</th>
                            <th width="10%">WITC编号</th>
                            <th width="10%">类型</th>
                            <th width="10%">极性</th>
                            <th width="10%">外形</th>
                            <th width="10%">图片</th>
                            <th width="10%">规格书</th>
                            <th width="10%">操作</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><code>1</code></td>
                            <td><code>40-0102-AA4021</code></td>
                            <td><code>SMA</code></td>
                            <td><code>公</code></td>
                            <td><code>直</code></td>
                            <td><code>图片链接</code></td>
                            <td><code>规格书链接</code></td>
                            <td><code><a>修改</a> <a>删除</a></code></td>
                        </tr>

                        </tbody>
                    </table>
            </div>


              </div>
              <div class="tabCon">
                              <div class="panel panel-default">
                <div class="panel-header">连接器查询条件</div>
                <div class="panel-body">
                    <table id="ljqShipeidianlan" class="table table-border table-bordered table-bg">
                        <thead>
                        <tr>
                            <th>类型</th>
                            <th>极性</th>
                            <th>用途</th>
                            <th>安装类型</th>
                            <th>外形</th>
                            <th>电缆型号</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                             <td><span class="select-box size-MINI">
                                <select  nullmsg="系列" datatype="*" name="" size="1"
                                        class="select">
                                    <option selected="" value="">系列</option>
                                    <option value="1">2.4</option>
                                    <option value="2">x.x</option>
                                    <option value="3">y.x</option>
                                    <option value="3">来自数据库</option>
                                </select>
                            </span></td>
                            <td><span class="select-box size-MINI">
                                <select nullmsg="极性" datatype="*" name="" size="1" class="select">
                                    <option selected="" value="">极性</option>
                                    <option value="1">公</option>
                                    <option value="2">母</option>
                                </select>
                            </span></td>
                            <td><span class="select-box size-MINI">
                                <select  nullmsg="用途" datatype="*" name="" size="1" class="select"
                                        onchange="ljqTypeChange(this)">
                                    <option selected="" value="">用途</option>
                                    <option value="1">适配电缆</option>
                                    <option value="2">面板安装</option>
                                    </select>
                            </span></td>
                            <td><span class="select-box size-MINI">
                                <select nullmsg="" datatype="*" name="" size="1" class="select">
                                    <option selected="" value="">安装类型</option>
                                    <option value="1">无</option>
                                    <option value="2">法兰</option>
                                </select>
                            </span></td>
                            <td><span class="select-box size-MINI">
                                <select nullmsg="" datatype="*" name="" size="1" class="select">
                                    <option selected="" value="">外形</option>
                                    <option value="1">无</option>
                                    <option value="2">直option>
                                </select>
                            </span></td>
                            <td><span class="select-box size-MINI">
                                <select id="matchedCable" nullmsg="" datatype="*" name="" size="1" class="select">
                                    <option selected="" value="">电缆型号</option>
                                    <option value="1">无</option>
                                    <option value="2">直option>
                                </select>
                            </span></td>
                        </tr>

                        </tbody>
                    </table>

                    <input id="start-query" class="btn btn-primary radius mt-10" type="button" value="查询" >
                </div>
            </div>

            <div class="panel panel-default">
                <div id='result' class="panel-header">产品列表</div>
                <table class="table table-border table-bordered table-striped">
                        <thead>
                        <tr>
                            <th width="5%">序号</th>
                            <th width="20">缩略图</th>
                            <th width="10%">产品概况</th>
                            <th width="20%">产品属性</th>
                            <th width="20%">WITC编号，规格书</th>
                            <th width="20%">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><code>1</code></td>
                            <td><code>我是图片</code></td>
                            <td><code>SMA，母</code></td>
                            <td><code>display</code></td>
                            <td><code>40-0102-AA4021<br>
                                        规格书链接</code></td>
                            <td><a>修改</a> <a>删除</a></td>
                        </tr>
                        <tr>
                            <td><code>2</code></td>
                            <td><code>我是图片</code></td>
                            <td><code>SMA，母</code></td>
                            <td><code>display</code></td>
                            <td><code>40-0102-AA4021<br>
                                        规格书链接</code></td>
                            <td><a>修改</a> <a>删除</a></td>
                        </tr>
                        </tbody>
                    </table>
            </div>

              </div>

            </div>
        </div>
{% endblock %}

{% block private-script %}
<script>
$("#tab_demo").Huitab({
	index:0
});

function ljqTypeChange(obj){
        var currObj = obj;
        if(currObj.id == "radio_cable") {
            document.getElementById("cable").style.display = "table";
            document.getElementById("pcb").style.display="none"
        }else{
            document.getElementById("cable").style.display = "none";
            document.getElementById("pcb").style.display="table"
        }

    }

$(document).ready(function(){
	$('#nav-product').addClass("current")
	$('#start-query').click(function(){
	    alert('query');
	    $.get("{% url 'notify' %}", function(data){
	        alert("get " + data.result);
	    });
	    });
});

</script>
{% endblock %}
