<table class="table table-border table-bordered table-striped">
    <thead>
    <tr>
        <th width="5%">WITC编号</th>
        <th width="10%">产品类型</th>
        <th width="10%">产品描述</th>
        <th width="10%">图片</th>
        <th width="10%">规格书</th>
    </tr>
    </thead>
    <tbody>
    {% for obj in recent_other_product %}

        <tr>
            <td><code>{{ obj.full_witc }}</code></td>
            <td><code>{{ obj.product_type.content }} </code></td>

            <td><code>{{obj.description }}</code></td>
            <td><code><a href="{{ obj.image.url }}">图片链接</a></code></td>
            <td><code><a href="{{ obj.document.url }}"> 规格书链接</a></code></td>
        </tr>
    {% endfor%}
    </tbody>
</table>

