<div class="panel panel-default">
                    <div class="panel-header">查询条件</div>
                    <div class="panel-body">
                        <form id="connector_pcb_form_filter" name="connector_pcb_form" method="post"
                              enctype="multipart/form-data"
                              action="">
                            {% csrf_token %}
                            <table class="table table-border table-bordered table-bg">
                                <thead>
                                <tr>
                                    <th>类型</th>
                                    <th>极性</th>
                                    <th>安装类型</th>
                                    <th>外形</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><span class="select-box size-S">
                                <select datatype="*" name="category" size="1"
                                        class="select" onchange="filter_connector_pcb_with_page()">
                                     <option value ="">空</option>
                                    {% for obj in category %}
                                        <option value ="{{ obj.content }}">{{ obj.content }}</option>
                                    {% endfor %}
                                </select>
                            </span></td>
                                    <td><span class="select-box size-S">
                                <select datatype="*" name="polar" size="1" class="select" onchange="filter_connector_pcb_with_page()">
                                    <option value ="">空</option>
                                    {% for obj in polar %}
                                        <option value ="{{ obj.content }}">{{ obj.content }}</option>
                                    {% endfor %}
                                </select>
                            </span></td>
                                    <td><span class="select-box size-S">
                                <select datatype="*" name="install_type" size="1" class="select" onchange="filter_connector_pcb_with_page()">
                                     <option value ="">空</option>
                                    {% for obj in install_type %}
                                        <option value ="{{ obj.content }}">{{ obj.content }}</option>
                                    {% endfor %}
                                </select>
                            </span></td>
                                    <td><span class="select-box size-S">
                                <select datatype="*" name="outlook" size="1" class="select" onchange="filter_connector_pcb_with_page()">
                                     <option value ="">空</option>
                                    {% for obj in out_look %}
                                        <option value ="{{ obj.content }}">{{ obj.content }}</option>
                                    {% endfor %}
                                 </select>
                            </span></td>
                                </tr>

                                </tbody>
                            </table>
                            <input id="admin_filter_connector_pcb" class="btn btn-primary radius mt-10" type="submit" value="过滤" >
                        </form>
                    </div>
                </div>