{% extends "page_example/product_base.html" %}
{% load static %}
{% block page-title %}
<title>定制电缆组件</title>
<meta name="keywords" content="定制电缆组">
<meta name="description" content="定制电缆组">
{% endblock %}

{% block product-private %}
<div style="width: 100%" class="container ui-sortable">
    <div class="panel panel-default">
        <div class="panel-header">定制电缆组</div>
        {%  include 'admin_pages/normal_combo_cable_pages/normal_combo_cable_filter_form.html'%}
    </div>
    <div class="panel panel-default">
        <div class="panel-header">查询结果</div>
        <div id="normal_combo_cable_filter_result">
            {% include 'admin_pages/normal_combo_cable_pages/normal_combo_cable_table_readonly.html' %}
        </div>
    </div>
    <input id="start-order" class="btn btn-primary radius mt-10 ml-15 mb-10" type="button" value="定制" >
    <div id="order_res">
        {% include 'admin_pages/normal_combo_cable_pages/normal_combo_cable_table_readonly.html' %}
    </div>
</div>
{% endblock %}

{% block private-script %}
<script>
        $(document).ready(function(){
            $('#nav-product').addClass("current")
            $('#start-query').click(function(){
                alert('query');
                $.get("{% url 'notify' %}", function(data){
                    alert("get " + data.result);
                });
            });
        });

        function do_select(obj){
            var row = obj.parentNode.parentNode;
            var td = $(row).find("td");
            var witc = td.eq(0).text();
            var description = td.eq(1).text();
            var number_obj = obj.previousSibling;
            var number = number_obj.value;

            var new_row = document.createElement('tr'); //创建行
            var witcCell = document.createElement('td'); //创建第一列id
            witcCell.innerHTML =witc; //填充数据
            new_row.appendChild(witcCell); //加入行 ，下面类似
            var descCell = document.createElement('td');//desc
            descCell.innerHTML = description;
            new_row.appendChild(descCell);
            var opsCell = document.createElement('td');
            new_row.append(opsCell);
            var btnDel = document.createElement('input');
            btnDel.setAttribute('type','button'); //type="button"
            btnDel.setAttribute('value','删除');

           btnDel.onclick=function(){
             if(confirm("确定删除这一行嘛？")){
                this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode);
               }
             }
            opsCell.appendChild(btnDel); //
            var =
            this.parentNode.parentNode.parentNode.append(new_row);
        };


        function filter_normal_combo_cable_with_page(page){

            var formData = new FormData(document.getElementById("normal_combo_cable_form_filter"));
            formData.append('readonly', 'yes')
            if (typeof(page) == 'undefined'){

            }else{
                formData.append('page', page);
            }

            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });

            $.ajax({
                type:"POST",
                url: "{% url 'admin_filter_normal_combo_cable' %}",
                data: formData,
                cache:false,
                contentType: false,
                processData: false,
                success: function(data) {
                    if(data == -1 ){
                        alert("该记录已经存在");
                        return;
                    }
                    alert("here");
                    $('#normal_combo_cable_filter_result').html(data);
                },
                error: function() {
                    $('.loginError').html('请求失败，请刷新页面后重试').show();
                }
            });
            return false;
        };

        $('#normal_combo_cable_form_filter').submit(filter_normal_combo_cable_with_page);

    </script>
{% endblock %}
