{% extends "page_example/product_base.html" %}
{% load static %}
{% block page-title %}
<title>连接器</title>
<meta name="keywords" content="连接器查询">
<meta name="description" content="连接器查询">
{% endblock %}

{% block product-private %}
<div style="width: 100%" class="container ui-sortable">
<div id="tab_demo" class="HuiTab">
            <div class="tabBar clearfix"><span onclick="filter_connector_cable_with_page()">适配电缆连接器</span>
                <span onclick="filter_connector_pcb_with_page()" >适配PCB连接器</span></div>
            <div class="tabCon">
               {% include 'admin_pages/connector_pages/connector_cable_filter_form.html'%}

                <div class="panel panel-default">
                    <div class="panel-header" >产品列表</div>
                    <div id="connector_cable_filter_results"></div>
                </div>

            </div>
            <div class="tabCon">
                {% include 'admin_pages/connector_pages/connector_pcb_filter_form.html' %}
                <div class="panel panel-default">
                    <div class="panel-header" >产品列表</div>
                    <div id='filter_pcb_results' ></div>
                </div>
            </div>
        </div>
</div>
{% endblock %}

{% block private-script %}
<script>
 $("#tab_demo").Huitab({
            index:0
        });

$(document).ready(function(){
    filter_connector_cable_with_page();
	$('#nav-product').addClass("current")
});

        function filter_connector_pcb_with_page(page){
            var formData = new FormData(document.getElementById("connector_pcb_form_filter"));
            formData.append('readonly', 'yes')
            if(typeof(page) != 'undefined'){
                formData.append('page', page)
            }

            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });

            $.ajax({
                type:"POST",
                url: "{% url 'load_filter_connector_pcb' %}",
                data: formData,
                cache:false,
                contentType: false,
                processData: false,
                success: function(data) {
                    if(data == -1 ){
                        alert("该记录已经存在");
                        return;
                    }
                    $('#filter_pcb_results').html(data);
                },
                error: function() {
                    $('.loginError').html('请求失败，请刷新页面后重试').show();
                }
            });
            return false;
        }

        function filter_connector_cable_with_page(page){

            var formData = new FormData(document.getElementById("connector_cable_form_filter"));
            formData.append('readonly', 'yes')
            if (typeof(page) == 'undefined'){

            }else{
                formData.append('page', page);
            }

            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });

            $.ajax({
                type:"POST",
                url: "{% url 'load_filter_connector_cable' %}",
                data: formData,
                cache:false,
                contentType: false,
                processData: false,
                success: function(data) {
                    if(data == -1 ){
                        alert("该记录已经存在");
                        return;
                    }
                    $('#connector_cable_filter_results').html(data);
                    document.getElementById("filter_cable_type").value = "";
                },
                error: function() {
                    $('.loginError').html('请求失败，请刷新页面后重试').show();
                }
            });
            return false;
        };

        $('#connector_cable_form_filter').submit(filter_connector_cable_with_page)

</script>
{% endblock %}
