{% extends "page_example/product_base.html" %}
{% load static %}
{% block page-title %}
<title>定制电缆组件</title>
<meta name="keywords" content="定制电缆组">
<meta name="description" content="定制电缆组">
{% endblock %}

{% block product-private %}
<div style="width: 100%" class="container ui-sortable">
            <div class="panel panel-default">
                <div class="panel-header">定制电缆组</div>
                <div class="panel-body">
                    <table id="connect1_query" class="table table-border table-bordered table-bg">
                        <h5>连接器1</h5>
                        <thead>
                        <tr>
                            <th>系列</th>
                            <th>极性</th>
                            <th>安装类型</th>
                            <th>外形</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><span class="select-box size-MINI">
                                <select nullmsg="系列" datatype="*" name="" size="1" class="select">
                                    <option selected="" value="">选择系列</option>
                                    <option value="2">xxx</option>
                                    <option value="3">xxxx</option>
                                    </select>
                            </span></td>
                             <td><span class="select-box size-MINI">
                                <select nullmsg="极性" datatype="*" name="" size="1" class="select"
                                        onchange="ljqTypeChange(this)">
                                    <option selected="" value="">极性</option>
                                    <option value="2">公</option>
                                    <option value="3">母</option>
                                    </select>
                            </span></td>
                            <td><span class="select-box size-MINI">
                                <select nullmsg="安装类型" datatype="*" name="" size="1" class="select">
                                    <option selected="" value="">安装类型</option>
                                    <option value="2">xxx</option>
                                    <option value="3">xxxx</option>
                                    </select>
                            </span></td>
                             <td><span class="select-box size-MINI">
                                <select nullmsg="" datatype="*" name="" size="1" class="select">
                                    <option selected="" value="">外形</option>
                                    <option value="2">xxx</option>
                                    <option value="3">xxx</option>
                                    </select>
                            </span></td>
                        </tr>
                        </tbody>
                    </table>
                       <table id="connect2_query" class="table table-border table-bordered table-bg">
                        <h5>连接器2</h5>
                        <thead>
                        <tr>
                            <th>系列</th>
                            <th>极性</th>
                            <th>安装类型</th>
                            <th>外形</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><span class="select-box size-MINI">
                                <select nullmsg="系列" datatype="*" name="" size="1" class="select">
                                    <option selected="" value="">选择系列</option>
                                    <option value="2">xxx</option>
                                    <option value="3">xxxx</option>
                                    </select>
                            </span></td>
                             <td><span class="select-box size-MINI">
                                <select nullmsg="极性" datatype="*" name="" size="1" class="select"
                                        onchange="ljqTypeChange(this)">
                                    <option selected="" value="">极性</option>
                                    <option value="2">公</option>
                                    <option value="3">母</option>
                                    </select>
                            </span></td>
                            <td><span class="select-box size-MINI">
                                <select nullmsg="安装类型" datatype="*" name="" size="1" class="select">
                                    <option selected="" value="">安装类型</option>
                                    <option value="2">xxx</option>
                                    <option value="3">xxxx</option>
                                    </select>
                            </span></td>
                             <td><span class="select-box size-MINI">
                                <select nullmsg="" datatype="*" name="" size="1" class="select">
                                    <option selected="" value="">外形</option>
                                    <option value="2">xxx</option>
                                    <option value="3">xxx</option>
                                    </select>
                            </span></td>
                        </tr>
                        </tbody>
                    </table>
                       <table id="cable_query" class="table table-border table-bordered table-bg">
                        <h5>电缆</h5>
                        <thead>
                        <tr>
                            <th>电缆长度</th>
                            <th>最大使用频率</th>
                            <th>WITC编号</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>
                                <input type="text" class="input-text" placeholder="填写具体数值">
                            </td>
                              <td>
                                <input type="text" class="input-text" placeholder="填写具体数值">
                            </td>
                              <td>
                                <input type="text" class="input-text" placeholder="填写具体编号">
                            </td>
                           
                        </tr>
                        </tbody>
                    </table>
                    <input id="start-query" class="btn btn-primary radius mt-10" type="button" value="查询" >
                    
                </div>
            </div>
            <div class="panel panel-default">
                <div id='result' class="panel-header">查询结果</div>
                <table class="table table-border table-bordered table-striped">
                        <thead>
                        <tr>
                            <th width="5%">编号</th>
                            <th width="8%">连接器</th>
                            <th width="8%">极性</th>
                            <th width="8%">安装类型</th>
                            <th width="8%">外形1</th>
                            <th width="8%">连接器2</th>
                            <th width="8%">极性2</th>
                            <th width="8%">安装类型2</th>
                            <th width="8%">外形2</th>
                            <th width="8%">电缆长度</th>
                            <th width="8%">频率范围</th>
                            <th width="8%">WITC编号</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><code>1</code></td>
                            <td><code>display</code></td>
                            <td><code>display</code></td>
                            <td><code>display</code></td>
                            <td><code>display</code></td>
                            <td><code>display</code></td>
                            <td><code>display</code></td>
                            <td><code>display</code></td>
                            <td><code>display</code></td>
                             <td><code>display</code></td>
                            <td><code>display</code></td>
                            <td><code>display</code></td>
                
                        </tr>
                        <tr>
                            <td><code>2</code></td>
                            <td><code>display</code></td>
                            <td><code>display</code></td>
                            <td><code>display</code></td>
                            <td><code>display</code></td>
                            <td><code>display</code></td>
                            <td><code>display</code></td>
                            <td><code>display</code></td>
                            <td><code>display</code></td>
                             <td><code>display</code></td>
                            <td><code>display</code></td>
                            <td><code>display</code></td>
                        
                        </tr>
                        </tbody>
                    </table>
                    <input id="start-order" class="btn btn-primary radius mt-10 ml-15 mb-10" type="button" value="定制" >
            </div>
        </div>
{% endblock %}

{% block private-script %}
<script>
function ljqTypeChange(obj){
        var currObj = obj;
        if (currObj.options[currObj.selectedIndex].value == 1){
            document.getElementById("ljqDiffTypeConvert").style.display="none";
            document.getElementById("ljqSameTypeConvert").style.display="table";
        }else{
            document.getElementById("ljqSameTypeConvert").style.display="none";
            document.getElementById("ljqDiffTypeConvert").style.display="table";
        }
    }
$(document).ready(function(){
	$('#nav-product').addClass("current")
	$('#start-query').click(function(){
	    alert('query');
	    $.get("{% url 'notify' %}", function(data){
	        alert("get " + data.result);
	    });
	    });
});


</script>
{% endblock %}
