{% extends "page_example/product_base.html" %}
{% load static %}
{% block page-title %}
    <title>定制电缆组件</title>
    <meta name="keywords" content="定制电缆组">
    <meta name="description" content="定制电缆组">
{% endblock %}

{% block product-private %}
    <div style="width: 100%" class="container ui-sortable">
        <div class="panel panel-default">
            <div class="panel-header">定制电缆组</div>
            {%  include 'admin_pages/normal_combo_cable_pages/normal_combo_cable_filter_form.html'%}
        </div>
        <br>
        <div class="panel panel-default">
            <div class="panel-header">查询结果</div>
            <div class="panel-body" id="normal_combo_cable_filter_result">
                {% include 'admin_pages/normal_combo_cable_pages/normal_combo_cable_table_readonly.html' %}
            </div>
        </div>
    </div>
    <br>
    <div style="width: 100%" class="container ui-sortable">
        <div class="panel panel-default">
            <div class="panel-header">已选择结果</div>
            <div class="panel-body">
            <div id="order_res">
                {% include 'admin_pages/normal_combo_cable_pages/normal_combo_cable_table_order.html' %}
            </div>
        </div>
        <input class="btn btn-primary radius mt-10" type="button" value="导出定制结果文件" >
        <input class="btn btn-primary radius mt-10" type="button" value="联系厂家" >
        </div>
    </div>

{% endblock %}

{% block private-script %}
    <script>
        $(document).ready(function(){
            $('#nav-product').addClass("current")
            $('#start-query').click(function(){
                alert('query');
                $.get("{% url 'notify' %}", function(data){
                    alert("get " + data.result);
                });
            });
        });

        function do_select(obj){
            var row = obj.parentNode.parentNode;
            var td = $(row).find("td");
            var witc = td.eq(0).text();
            var description = td.eq(1).text();
            var number_obj = obj.previousSibling;
            var number = number_obj.value;

            var order_res = document.getElementById("normal_combo_cable_order_buffer")

            for (var i = 0; i < order_res.rows.length; i++){
                var witc_in_row = order_res.rows[i].cells[0].innerHTML;
                if( witc == witc_in_row){
                    order_res.rows[i].cells[2].innerHTML = parseInt(order_res.rows[i].cells[2].innerHTML)
                            + parseInt(number);
                    return;
                }

            }

            var new_row = document.createElement('tr'); //创建行
            var witcCell = document.createElement('td'); //创建第一列id
            witcCell.innerHTML =witc; //填充数据
            new_row.appendChild(witcCell); //加入行 ，下面类似
            var descCell = document.createElement('td');//desc
            descCell.innerHTML = description;
            new_row.appendChild(descCell);
            var numCell = document.createElement('td');
            numCell.innerHTML = number;
            new_row.appendChild(numCell);
            var opsCell = document.createElement('td');
            new_row.append(opsCell);
            var btnDel = document.createElement('input');
            btnDel.setAttribute('type','button'); //type="button"
            btnDel.setAttribute('value','删除');

            btnDel.onclick=function(){
                if(confirm("确定删除这一行嘛？")){
                    this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode);
                }
            }
            opsCell.appendChild(btnDel); //
            var order_res = document.getElementById("normal_combo_cable_order_buffer")
            order_res.appendChild(new_row)
        };


        function filter_normal_combo_cable_with_page(page){

            var formData = new FormData(document.getElementById("normal_combo_cable_form_filter"));
            formData.append('readonly', 'yes')
            if (typeof(page) == 'undefined'){

            }else{
                formData.append('page', page);
            }

            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });

            $.ajax({
                type:"POST",
                url: "{% url 'admin_filter_normal_combo_cable' %}",
                data: formData,
                cache:false,
                contentType: false,
                processData: false,
                success: function(data) {
                    if(data == -1 ){
                        alert("该记录已经存在");
                        return;
                    }
                    $('#normal_combo_cable_filter_result').html(data);
                },
                error: function() {
                    $('.loginError').html('请求失败，请刷新页面后重试').show();
                }
            });
            return false;
        };

        $('#normal_combo_cable_form_filter').submit(filter_normal_combo_cable_with_page);

    </script>
{% endblock %}
