{% extends "page_example/product_base.html" %}
{% load static %}
{% block page-title %}
<title>产品查询-电缆</title>
<meta name="keywords" content="电缆">
<meta name="description" content="电缆">
{% endblock %}

{% block product-private %}
<div style="width: 100%" class="container ui-sortable">
    {% include 'admin_pages/cable_pages/cable_filter_form.html' %}
    <div class="panel panel-default">
        <div class="panel-header" >产品列表</div>
        <div id="filter_cable_results">

        </div>
    </div>
</div>
{% endblock %}

{% block private-script %}
<script>

$(document).ready(function(){
	$('#nav-product').addClass("current")
	filter_cable_with_page()
});

function filter_cable_with_page(page){

    var formData = new FormData(document.getElementById("cable_form_filter"));
    formData.append('readonly', 'yes')
    if (typeof(page) == 'undefined'){

    }else{
        formData.append('page', page);
    }

    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });

    $.ajax({
        type:"POST",
        url: "{% url 'admin_filter_cable' %}",
        data: formData,
        cache:false,
        contentType: false,
        processData: false,
        success: function(data) {
            if(data == -1 ){
                alert("该记录已经存在");
                return;
            }
            $('#filter_cable_results').html(data);
        },
        error: function() {
            $('.loginError').html('请求失败，请刷新页面后重试').show();
        }
    });
    return false;
};

$('#cable_form_filter').submit(filter_cable_with_page);

</script>
{% endblock %}
