{% extends "page_example/product_base.html" %}
{% load static %}
{% block page-title %}
    <title>产品查询-器件</title>
    <meta name="keywords" content="鐢电紗">
    <meta name="description" content="鐢电紗">
{% endblock %}

{% block product-private %}
    <div style="width: 100%" class="container ui-sortable">
        <div class="panel panel-default">
            <div class="panel-header" >器件产品列表</div>
            <div id="filter_cable_results" class="panel-body">
                {% include 'admin_pages/other_product_pages/other_product_table_readonly.html' %}
            </div>

        </div>
    </div>
{% endblock %}

{% block private-script %}
    <script>

        $(document).ready(function(){
            $('#nav-product').addClass("current")

    </script>
{% endblock %}
