<table class="table table-border table-bordered table-striped">
    <thead>
    <tr>
        <th width="10%">类型</th>
        <th width="10">缩略图</th>
        <th width="20%">产品概况</th>
        <th width="30%">产品属性</th>
        <th width="20%">WITC编号，规格书</th>
    </tr>
    </thead>
    <tbody >
    {% for obj in recent_product_res %}
    <tr>
        <td><code>{{ obj.product_type}}</code></td>
        <td>
            <img src='{{ obj.image.url }}' width="80" height="80"/>
        </td>
        <td>{{ obj.description }}<br>
        <td>{{ obj.property }}</td>

        </td>
        <td>WITC编号：{{ obj.full_witc}}<br>
            <a href="{{ obj.document.url }}">规格书链接</a>
        </td>
    </tr>
    {% endfor%}
    </tbody>
</table>
