<table class="table table-border table-bordered table-striped">
    <thead>
    <tr>
        <th width="10%">编号</th>
        <th width="10">缩略图</th>
        <th width="20%">产品概况</th>
        <th width="30%">产品属性</th>
        <th width="20%">WITC编号，规格书</th>
    </tr>
    </thead>
    <tbody >
    {% for obj in vna_combo_cable_res %}
    <tr>
        <td><code>{{ obj.full_witc}}</code></td>
        <td>
            <img src='{{ obj.image.url }}' width="80" height="80"/>
        </td>
        <td>系列1：{{ obj.a_content_type.content }}, 极性1：{{obj.a_polar_type.content}}<br>
        系列2：{{ obj.b_content_type.content }}, 极性2：{{obj.b_polar_type.content}}</td>
        <td>电缆长度：{{ obj.cable_length }}
        </td>
        <td>WITC编号：{{ obj.full_witc}}<br>
        <a href="{{ obj.document.url }}">规格书链接</a>
    </tr>
    {% endfor%}
    </tbody>
</table>

{% if vna_combo_cable_res.has_previous %}
    <a onclick="filter_vna_combo_cable_with_page({{ vna_combo_cable_res.previous_page_number }})" >上一页</a>
    {% else %}

{% endif %}

{% if vna_combo_cable_res.has_next %}
    <a onclick="filter_vna_combo_cable_with_page({{ vna_combo_cable_res.next_page_number }} )">下一页</a>
{% endif %}

{% if vna_combo_cable_res.next_page_number > 1 %}
<span>
    {{ vna_combo_cable_res.number }} / {{ vna_combo_cable_res.paginator.num_pages }}
</span>
{% endif %}